body {
  color: $font-main-color;
  background: $background-color;
  font-family: $font-main-family;
  font-size: $font-main-size;
  font-weight: $font-main-weight;
  line-height: $font-main-line-height;
}
