/*
** SITE TITLE
*/
.navbar {
  margin-bottom: 0;
}

.nav_title {
  width: 230px; // TODO: use variable
  float: left;
  background: $background-color;
  border-radius: 0;
  height: 57px;
}

.site_title {
  text-overflow: ellipsis;
  overflow: hidden;
  font-weight: 400;
  font-size: 22px;
  width: 100%;
  color: $site-title-color !important;
  line-height: 59px;
  display: block;
  height: 55px;
  margin: 0;
  margin-left: 0 !important;
  padding-left: 10px;

  &:hover, &:focus {
    text-decoration: none;
  }

  i {
    border: 1px solid $site-title-color;
    padding: 5px 6px;
    border-radius: 50%;
  }
}

/*
** PROFILE SECTION
*/
.profile {
  .profile_pic {
    width: 35%;
    float: left;
  }

  .img-circle {
    &.profile_img {
      width: 70%;
      background: $white;
      margin-left: 15%;
      z-index: 1000;
      position: inherit;
      margin-top: 20px;
      border: 1px solid rgba(52, 73, 94, 0.44);
      padding: 4px;
    }
  }

  .profile_info {
    padding: 25px 10px 10px;
    width: 65%;
    float: left;

    span {
      font-size: 13px;
      line-height: 30px;
      color: $gray;
    }

    h2 {
      font-size: 14px;
      color: $site-title-color;
      margin: 0;
      font-weight: 300;
    }
  }

  &.img_2 {
    text-align: center;

    .profile_pic {
      width: 100%;

      .img-circle {
        &.profile_img {
          width: 50%;
          margin: 10px 0 0;
        }
      }
    }

    .profile_info {
      padding: 15px 10px 0;
      width: 100%;
      margin-bottom: 10px;
      float: left;
    }
  }
}

/*
** MENU SECTION
*/
.main_menu_side {
  padding: 0;
}

.main_menu {
  .fa {
    width: 26px;
    opacity: .99;
    display: inline-block;
    font-family: FontAwesome;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    @include font-smoothing;
  }

  span {
    &.fa {
      float: right;
      text-align: center;
      margin-top: 5px;
      font-size: 10px;
      min-width: inherit;
      color: #C4CFDA;
    }
  }

  .menu_section {
    margin-bottom: 35px;

    h3 {
      padding-left: 23px;
      color: $white;
      text-transform: uppercase;
      letter-spacing: .5px;
      font-weight: bold;
      font-size: 11px;
      margin-bottom: 0;
      margin-top: 0;
      text-shadow: 1px 1px #000;
    }

    & > ul {
      margin-top: 10px;
    }

    .nav {

      li {
        &.current-page {
          background: rgba(255, 255, 255, 0.05); //TODO: use variable or lighten() function
        }

        li {
          li {
            &.current-page {
              background: none;
            }
          }

          &.current-page {
            a {
              color: $white;
            }
          }
        }
      }


      &.side-menu {
        & > li {
          position: relative;
          display: block;
          cursor: pointer;

          a {
            &:hover {
              color: $side-menu-color !important;
              text-decoration: none;
              background: transparent;
            }
            &:focus {
              text-decoration: none;
              background: transparent;
            }
          }

          &.current-page {
            border-right: 5px solid $green;
          }

          &.active {
            border-right: 5px solid $green;

            & > a {
              text-shadow: rgba(0, 0, 0, 0.25) 0 -1px 0;                //TODO: use lighten()/darken() functions
              @include background-gradient(#334556, #2C4257, #2A3F54);  //TODO: use lighten()/darken() functions
              @include box-shadow((rgba(0, 0, 0, 0.25) 0 1px 0, inset rgba(255, 255, 255, 0.16) 0 1px 0));  //TODO: use lighten()/darken() functions
            }

            a {
              span {
                &.fa {
                  text-align: right !important;
                  margin-right: 4px;
                }
              }
            }
          }

          & > a {
            color: $font-menu-color;
            font-weight: 500;
            margin-bottom: 6px;
          }
        }
      }

      &.child_menu {
        display: none;

        li {
          padding-left: 36px;

          li {
            &:hover, &.active {
              background: none;
            }

            a {
              &:hover, &:active {
                color: $white;
              }
            }
          }

          &:hover, &:active {
            background-color: rgba(255, 255, 255, 0.06);
          }
        }

        & > li {
          & > a {
            color: $font-submenu-color;
            font-weight: 500;
            font-size: 12px;
            padding: 9px;
          }
        }
      }
    }
  }
}


/*
** SIDEBAR FOOTER
*/
.sidebar-footer {
  bottom: 0;
  clear: both;
  display: block;
  padding: 5px 0 0 0;
  position: fixed;
  width: 230px;   //TODO: use variable
  z-index: 1000;
  background: $sidebar-footer-background-color;

  a {
    padding: 7px 0 3px;
    text-align: center;
    width: 25%;
    font-size: 17px;
    display: block;
    float: left;
    background:$sidebar-footer-background-color;

    &:hover {
      cursor: pointer;
      background: $sidebar-footer-background-hover;
    }
  }
}



.sidebar-header {
  border-bottom: 0;
  margin-top: 46px;

  &:first-of-type {
    margin-top: 0;
  }
}


/*
** NAV-SM SIDEBAR
*/
.nav-sm {

  li {
    li {
      span {
        &.a {
          display: inline-block;
        }
      }
    }
  }

  .profile {
    display: none;
  }

  .hidden-small {
    visibility: hidden;
  }

  .container {
    &.body {
      .left_col {
        width: 70px; //TODO: use variable
        padding: 0;
        z-index: 9999;
        position: absolute;
      }
    }
  }

  .navbar {
    &.nav_title {
      width: 70px; //TODO: use variable

      a {
        span {
          display: none;
        }
        i {
          font-size: 27px;
          margin: 13px 0 0 3px;
        }
      }
    }
  }

  .main_menu {

    span {
      &.fa {
        display: none;
      }
    }

    .menu_section {
      margin: 0;

      h3 {
        display: none;
      }

      .nav {
        &.side-menu {
          li {
            a {
              text-align: center !important;
              font-weight: 400;
              font-size: 10px;
              padding: 10px 5px;

              i {
                font-size: 25px !important;
                text-align: center;
                width: 100% !important;
                margin-bottom: 5px;

                &.toggle-up {
                  display: none !important;
                }
              }
            }

            &.active-sm {
              border-right: 5px solid $green;

              ul {
                ul {
                  position: static;
                  width: 200px;
                  background: none;
                }
              }

              & > a {
                color: $green;
              }
            }
          }
        }

        &.child_menu {
          left: 100%;
          position: absolute;
          top: 0;
          width: 210px;         //TODO: use variable
          z-index: 4000;
          background: $background-color;
          display: none;

          ul {
            position: static;
            width: 200px;       //TODO: use variable
            background: none;
          }
          li {
            padding: 0 10px;

            a {
              text-align: left !important;
            }

            &.active {
              border-right: 5px solid $green;
            }
          }
        }
      }
    }
  }
}


/*
** NAV-MD SIDEBAR
*/
.nav-md {
  .container {
    &.body {
      .col-md-3 {
        &.left_col {
          width: 230px; //TODO: use variable
          padding: 0;
          position: absolute;
          display: flex;
        }
      }
    }
  }

  .main_menu {

    span {}

    .menu_section {

      h3 {}

      .nav {
        &.child_menu {
          li {
            &:before {
              background: $bullet-menu-color;
              bottom: auto;
              content: "";
              height: 8px;
              left: 23px;
              margin-top: 15px;
              position: absolute;
              right: auto;
              width: 8px;
              z-index: 1;
              @include border-radius(50%);
            }

            &:after {
              border-left: 1px solid $bullet-menu-color;
              bottom: 0;
              content: "";
              left: 27px;
              position: absolute;
              top: 0;
            }
          }
        }
      }
    }
  }
}


@media (max-width: 991px) { //TODO: use Media Queries Mixins
  .nav-md {
    .container {
      &.body {
        .col-md-3 {
          &.left_col {
            display: none;
          }
        }
      }
    }
  }
}