.container {
  &.body {
    .right_col {
      background: $background-color2;
    }
  }
}

.page-title {
  width: 100%;
  height: 65px;
  padding: 10px 0;

  .title_left {
    width: 45%;
    float: left;
    display: block;

    h3 {
      margin: 9px 0;
    }
  }

  .title_right {
    width: 55%;
    float: left;
    display: block;

    .pull-right {
      margin: 10px 0;
    }
  }
}



/*
** NAV-SM RIGHT COL
*/

.nav-sm {
  .container {
    &.body {
      .right_col {
        padding: 10px 20px;
        margin-left: 70px; //TODO: use variable
        z-index: 2;
      }
    }
  }
}


/*
** NAV-MD RIGHT COL
*/

.nav-md {
  .container {
    &.body {
      .right_col {
        padding: 10px 20px 0;
        margin-left: 230px;   //TODO: use variable
      }
    }
  }
}


@media (max-width: 991px) { //TODO: use Media Queries Mixins
  .right_col {
    padding: 10px !important;
  }

  .nav-md {
    .container {
      &.body {
        .right_col {
          width: 100%;
          margin: 0;
          padding-right: 0;
        }
      }
    }
  }
}