/*
** FONTS
*/
$font-main-family: "Helvetica Neue", Roboto, Arial, "Droid Sans", sans-serif;
$font-main-size: 13px;
$font-main-weight: 400;
$font-main-line-height: 1.471;

/*
** COLORS
*/
$font-main-color: #73879C;
$background-color: #2A3F54; // Alternatives #ECF0F1; #FCFCFC;

/*
** SIZES
*/